/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  background-color: var(--first-color);
  left: 1rem;
  bottom: -20%;
  padding: 0.3rem;
  border-radius: 0.25rem;
  z-index: var(--z-tooltip);
  opacity: 0.8;
  transition: 0.4s;
  display: inline-flex;
  &:hover {
    opacity: 1;
  }
  &__icon {
    font-size: 1.25rem;
    color: var(--title-color);
  }
}

/* Show Scroll Up*/
.show_scroll {
  bottom: 3rem;
  transition: 0.4s;
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--scroll-bar-color);
  &-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 0.5rem;
    &:hover {
      background-color: var(--text-color-light);
    }
  }
}
