/*=============== THEME ===============*/
body.dark_theme {
  --first-color-light: hsl(var(--hue), var(--sat), 75%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 80%);
  --body-color: hsl(var(--hue), 0%, 13%);
  --container-color: hsl(var(--hue), 8%, 16%);
  --scroll-bar-color: hsl(var(--hue), 4%, 32%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 24%);
}
/*========== Variables Dark theme ==========*/

/*========== Button Dark/Light ==========*/
.change_theme {
  position: absolute;
  left: 1.5rem;
  top: 2.2rem;
  color: var(--title-color);
  cursor: pointer;
  font-size: 1.8rem;
}
.dark_theme .footer {
  background-color: var(--container-color);
}
